<a href="https://colab.research.google.com/github/Julia-Vanyarina/data-science/blob/main/01_ex_Vanyarina_Julia.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Лабораторная работа к лекции 1
Ваше имя: Ванярина Юлия

Ваш адрес электронной почты: VanyarinaYA368@mgpu.ru

## Упражнение 1.1. Типы данных и операции
1. Определите две переменные и присвойте первой целое число, а второй — число с плавающей запятой. Определите новую переменную и присвойте сумму двух предыдущих переменных. Каков тип данных третьей переменной?
2. Переназначьте переменную с другим типом данных, например, возьмите одну из числовых переменных и присвойте ей строку. Какой новый тип данных?
3. Посмотрите, что произойдет, если вы попытаетесь добавить строку к строке.
4. Посмотрите, что произойдет, если вы добавите строку к числу с плавающей запятой или целому числу.

In [ ]:
# Ваш код
# Определение двух переменных
first_integer = 5
second_float = 7.53

# Вычисление суммы двух переменных
new_variable = first_integer + second_float

# Тип данных третьей переменной
print(type(new_variable), '1 ответ')

# Переназначение переменной с другим типом данных (из числа в строку)
first_integer = str(first_integer)
print(type(first_integer), '2 ответ')

# Примеры операций со строками и числами
# Добавление строки к строке



string_name_1 = "Julia"
string_name_2 = "Vanyarina"
str_sum = string_name_1 + string_name_2
print(str_sum, '3 ответ')

# 4 задание
#new_sum = first_integer + second_float;
#TypeError: can only concatenate str (not "float") to str

# Добавление строки к числу с плавающей запятой или целому числу
# Пример 1: добавление строки к числу с плавающей запятой
float_result = second_float + float(first_integer)  # К числу с плавающей запятой добавляем число, преобразованное из строки
print(float_result)

# Пример 2: добавление строки к целому числу
integer_result = first_integer + str(second_float) # К строке добавляем число с плавающей запятой, преобразованное в строку
print(integer_result)

<class 'float'> 1 ответ
<class 'str'> 2 ответ
JuliaVanyarina 3 ответ
12.530000000000001
57.53

## Упражнение 1.2. Запуск программ

  * Создайте новый файл Python(или файл с расширением `.ipynb`) и используйте функцию `double_number` в качестве шаблона. Измените код, чтобы добавить два числа вместо удвоения одного числа.
  * Можете ли вы догадаться, что произойдет, если изменить отступ? Выполните данное действие.
  * Попробуйте, что произойдет, если вы напечатаете `a` в самом конце программы. Пояснить, что происходит?
 [Текст ссылки](https://)

In [ ]:
# Если изменить отступ, например,
#сдвинуть внутренний блок кода добавления чисел на один
#уровень вправо, то Python выдаст ошибку, так как это нарушит
#структуру кода и он не будет правильно интерпретирован.

# Если мы напечатаем значение переменной "a" в конце программы,
#то Python выдаст ошибку, так как переменная "a" не определена.
#Переменная "a" ни разу не создавалась или присваивалась в программе,
#поэтому обращение к ней вызовет ошибку "NameError: name 'a' is not defined".


# double_number она принимает два аргумента и возвращает кортеж
#с удвоенными значениями обоих аргументов.

def double_number(num1, num2):
    result = num1 * 2
    result1 = num2 * 2
    return (result, result1)

#Функция def addnumbers(num1, num2) принимает
#два аргумента num1 и num2, после чего складывает их вместе и возвращает результат
# Добавляем два числа вместо удвоения одного числа
def add_numbers(num1, num2):
    result = num1 + num2
    return result

# Печать результата вызова функции add_numbers
print(add_numbers(4, 31))
# Печать результата вызова функции double_number
print(double_number(4, 31))

35
(8, 62)

## Упражнение 1.3. Создание ячеек, выполнение кода

1. Создайте новую ячейку кода ниже, где вы определите переменные, содержащие ваше имя, ваш возраст  и вашу специальность.
2. Создайте еще одну ячейку, использующую эти переменные, и выведите объединенную строку с указанием вашего имени, специальности и возраста в годах, месяцах и днях (при условии, что сегодня ваш день рождения). Вывод должен выглядеть так:

```
Имя: Кот-ученый, Специальность: Бизнес-Информатика, Возраст: 18 лет, или 216 месяцев, или 6480 дней..
```

In [ ]:
# Создание переменных
name = "Julia"
age = 21
specialty = "Business Informatics"

# Вывод информации
print("Имя:", name, "Специальность:", specialty, "Возраст:", age, "лет, или", age * 12, "месяцев, или", age * 365, "дней")

Имя: Julia Специальность: Business Informatics Возраст: 21 лет, или 252 месяцев, или 7665 дней

## Упражнение 1.4: Функции
Напишите функцию, которая
  * принимает две числовые переменные
  * умножает их друг на друга
  * делит их на числовую переменную, определенную в области видимости вне функции
  * и возвращает результат.

Выведите результат функции для трех разных наборов входных переменных.

In [ ]:
# Ваш код
# Числовая переменная, определенная вне функции
van = 5

# Функция, выполняющая умножение и деление
def multiply_and_van(v1, v2):
    result = (v1 * v2) / van
    return result

# Вызов функции для трех разных наборов входных переменных
result1 = multiply_and_van(675, 34)
print("Результат для 675 и 34:", result1)

result2 = multiply_and_van(5, 5)
print("Результат для 5 и 5:", result2)

result3 = multiply_and_van(45, -0.443)
print("Результат для 45 и -0.433:", result3)

Результат для 675 и 34: 4590.0
Результат для 5 и 5: 5.0
Результат для 45 и -0.433: -3.9869999999999997

## Упражнение 1.5*

Есть некоторые данные о количестве книг, прочитанных разными людьми, работающими в книжном магазине Владимира. Создайте код Python, который учитывает каждого человека и выводит, сколько книг он прочитал. Если кто-то прочитал 0 книг, выведите «___ не читал ни одной книги!» вместо количества книг.

In [ ]:
people = ['Krishnang', 'Steve', 'Jimmy', 'Mary', 'Divya', 'Robert', 'Yulia']
books_read = [12, 6, 0, 7, 4, 10, 15]


for person, books in zip(people, books_read):
    if books == 0:
        print(person, "не читал ни одной книги!")
    else:
        print(person, "прочитал", books, "книг")

Krishnang прочитал 12 книг
Steve прочитал 6 книг
Jimmy не читал ни одной книги!
Mary прочитал 7 книг
Divya прочитал 4 книг
Robert прочитал 10 книг
Yulia прочитал 15 книг

Существует несколько способов решить эту задачу: можно изучить функцию `zip()`, использовать `enumerate()`, `range` и `len` или использовать другие методы. Чтобы напечатать имена и значения, вы можете использовать конкатенацию строк (+), форматирование f-строки или другие методы.

In [ ]:
people = ['Krishnang', 'Steve', 'Jimmy', 'Mary', 'Divya', 'Robert', 'Yulia']
books_read = [12, 6, 0, 7, 4, 10, 15]

#встроенная функция enumerate()
for index, (person, books) in enumerate(zip(people, books_read)):
    if books == 0:
        print(f" {person} не читал ни одной книги!")
    else:
        print(f" {person} прочитал {books} книг")

 Krishnang прочитал 12 книг
 Steve прочитал 6 книг
 Jimmy не читал ни одной книги!
 Mary прочитал 7 книг
 Divya прочитал 4 книг
 Robert прочитал 10 книг
 Yulia прочитал 15 книг

In [ ]:
people = ['Krishnang', 'Steve', 'Jimmy', 'Mary', 'Divya', 'Robert', 'Yulia']
books_read = [12, 6, 0, 7, 4, 10, 15]
#цикл for с диапазоном
for i in range(len(people)):
    person = people[i]
    books = books_read[i]
    if books == 0:
        print(f" {person} не читал ни одной книги!")
    else:
        print(f" {person} прочитал {books} книг")

 Krishnang прочитал 12 книг
 Steve прочитал 6 книг
 Jimmy не читал ни одной книги!
 Mary прочитал 7 книг
 Divya прочитал 4 книг
 Robert прочитал 10 книг
 Yulia прочитал 15 книг

In [ ]:
people = ['Krishnang', 'Steve', 'Jimmy', 'Mary', 'Divya', 'Robert', 'Yulia']
books_read = [12, 6, 0, 7, 4, 10, 15]
#словарь
people_books_dict = dict(zip(people, books_read))
for person, books in people_books_dict.items():
    if books == 0:
        print(f"{person} не читал ни одной книги!")
    else:
        print(f" {person} прочитал {books} книг")

 Krishnang прочитал 12 книг
 Steve прочитал 6 книг
Jimmy не читал ни одной книги!
 Mary прочитал 7 книг
 Divya прочитал 4 книг
 Robert прочитал 10 книг
 Yulia прочитал 15 книг

Преобразуйте только что созданный цикл в функцию, которая принимает два списка (прочитанные книги и людей) в качестве аргументов.

In [ ]:
# Ваш код
def print_books_read(people_list, books_read_list):
    for person, books in zip(people_list, books_read_list):
        if books == 0:
            print(f"{person} не читал ни одной книги!")
        else:
            print(f"{person} прочитал {books} книг")

# Пример использования функции
people = ['Krishnang', 'Steve', 'Jimmy', 'Mary', 'Divya', 'Robert', 'Yulia']
books_read = [12, 6, 0, 7, 4, 10, 15]

print_books_read(people, books_read)

Krishnang прочитал 12 книг
Steve прочитал 6 книг
Jimmy не читал ни одной книги!
Mary прочитал 7 книг
Divya прочитал 4 книг
Robert прочитал 10 книг
Yulia прочитал 15 книг

Отсортируйте значения `books_read` от большего к меньшему и выведите трех первых людей с количеством прочитанных ими книг. Некоторые возможные способы решения этой задачи включают использование сортировки аргументов `NumPy`, создание словаря и создание кортежей.

In [ ]:
# Использование сортировки аргументов NumPy

import numpy as np

# Определение функции print_books_read, которая принимает два списка - people_list и books_read_list
def print_books_read(people_list, books_read_list):
    # Использование zip для итерации по двум спискам одновременно
    for person, books in zip(people_list, books_read_list):
        # Если количество книг равно 0, выводится сообщение о том, что человек не читал ни одной книги
        if books == 0:
            print(f"{person} не читал ни одной книги!")
        # Иначе выводится количество прочитанных книг для данной персоны
        else:
            print(f"{person} прочитал {books} книг")

# Создание списков people и books_read
people = ['Krishnang', 'Steve', 'Jimmy', 'Mary', 'Divya', 'Robert', 'Yulia']
books_read = [12, 6, 0, 7, 4, 10, 15]

# Сортировка значений books_read от большего к меньшему с использованием NumPy и получение индексов в отсортированном порядке
sorted_indices = np.argsort(books_read)[::-1][:3]

# Итерация по отсортированным индексам для вывода информации о трех людях, которые прочитали наибольшее количество книг
for index in sorted_indices:
    print(f"{people[index]} прочитал {books_read[index]} книг")

Yulia прочитал 15 книг
Krishnang прочитал 12 книг
Robert прочитал 10 книг